<nav>
  <ul>
      <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
        <mat-icon>profile</mat-icon> PROFILE</a></li>
      <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/inquirydata">
        <mat-icon>inquirydata</mat-icon> INQUIRYDATA</a></li>
        <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/sales">
          <mat-icon>sales</mat-icon> SALESORDER</a></li>
          <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/deliverylist">
            <mat-icon>deliverylist</mat-icon> DELIVERY LIST</a></li>
            <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/invoicedata">
              <mat-icon>invoicedata</mat-icon> INVOICEDATA</a></li>
              <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/creditdebit">
                <mat-icon>creditdebit</mat-icon> CREDIT</a></li>
                <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/payage">
                  <mat-icon>payage</mat-icon> PAYAGE</a></li>
                

  </ul>
</nav>

<!-- main article -->
<article>

  <h1>KAAR TECHNOLOGIEES</h1>

  <p class="lead">Customer portals make it easier for your customers to do business with you.</p>
  <p>Instead of forcing customers to visit different and separate line of product-specific, business specific, process-specific, or task-specific web sites and applications to explore, buy, use, maintain, upgrade, renew, and replace products and services, savvy companies should offer their customers a single digital entry place that can support all of their activities throughout their lifecycle a customer portal.</p>
  <p>The advantages of customer portals are transparency, convenience and relevance. It contain everything customers need in one digital place with one login. And, in a well-designed customer portal, our customers “see” only those products and services that are relevant to their context..</p>

</article>
