table{
    border-collapse: collapse;
    border: 2px solid #006655;
    }
    table th{ 
       border: 1px dashed black;
       color: #FF8800;
   } table td{
       
       padding:10px;
       border: 1px dotted black;
       color: blue;
    }